* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    
}

img {
    height: 15vh;
}

.option {
    font-size: 1rem;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem
}
/* color palette */


:root{
    --main-color: rgb(34, 34, 34);
    --light-color: rgb(74, 74, 74);
    --white-color: rgb(254, 255, 255);
    --green-color: rgb(79, 200, 1);
    --red-color: rgb(255, 73, 73);
}

/* #region header */
.container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 0.5rem 1rem 0 0;
}
.view {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1rem;
    background-color: var(--light-color);
    padding: 0.3rem;
    border-radius: 10px;
}

.full_screen {
    font-size: 1rem;
    background-color: var(--light-color);
    padding: 0.3rem;
    border-radius: 10px;

}

/* #region main */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: calc(100% / 7);
    padding: 0.3rem;
}

.user {
    position: relative;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: 0.3rem;
    background-color: rgba(74, 74, 74, 0.6);
    padding: 0.3rem;
}

.users {
    padding: 2rem 5rem 2rem 5rem;

}

/* #region nav */
footer {
    /* height: 100px; */
    background-color: var(--main-color);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 1rem 1rem;
}

.input {
    font-size: 2rem;
    display: flex;
    gap: 1rem;
}

.utility {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    padding-left: 4rem;

}

.end{
display: flex;
align-items: center;
color: var(--red-color);
background-color: var(--light-color);
/* height: 100%; */
padding: 0 2rem 0 2rem;
}


.fa-angle-up {
    font-size: 1rem;
    align-self: center;
}

.fa-share-from-square {
    color: var(--green-color);
}